<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
            <main>
                <div class="container">
                    <div class="box__section cart_section">
                        <div class="box__section_header bold">Signup</div>
                        <% if(errorMessages && errorMessages.length> 0 ) { %>
                            <div class="msg danger">
                                <ul>
                                    <% errorMessages.forEach(errorMessage=>{ %>
                                        <li>
                                            <span class="error__message_param">
                                                <%= errorMessage.param %> :
                                            </span> <span class="error__message_msg">
                                                <%= errorMessage.msg %>
                                            </span>
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        <% } %>
                        <form method="POST" action="/signup/" novalidate>
                            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                            <label for="email">Email</label>
                            <input class="<%= errorMessages.find(e=>e.param ==='email') ? 'hasError' :'' %>"
                                type="email" name="email" id="email" value="<%= oldInputes.email %>">
                            <label for="password">Password</label>
                            <input class="<%= errorMessages.find(e=>e.param ==='password') ? 'hasError' :'' %>"
                                type="password" name="password" id="password" value="<%= oldInputes.password %>">
                            <label for="confirmPassword">Confirm Password</label>
                            <input class="<%= errorMessages.find(e=>e.param ==='confirmPassword') ? 'hasError' :'' %>"
                                type="password" name="confirmPassword" id="confirmPassword"
                                value="<%= oldInputes.confirmPassword %>">
                            <button class="button button-success" type="submit">Signup</button>
                        </form>
                    </div>
                </div>
            </main>
    </body>

    </html>