<%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/navigation.ejs') %>
    <main>
        <div class="container">
            <% if (products.length>0) { %>
            <div class="row">
                <% for (let product of products) { %>
                <div class="col col-md col-sm">
                    <div class="box" id="<%= product.productId %>">
                        <div class="image_box">
                            <img src="<%= product.productImageUrl %>">
                        </div>
                        <div class="box-content">
                            <div class="prod__label productTitle limitaion"><%= product.productTitle %></div>
                            <div class="prod__label productPrice limitaion">$<%= product.productPrice %></div>
                            <div class="prod__label limitaion"><%= product.productAuthor %></div>
                            <div class="prod__label limitaion"><%= product.productDescription %></div>
                        </div>
                        <div class="actions__section">
                            <a href="/admin/edit-product/<%= product.productId %>/" class="button button-success">Edit
                                Product</a>
                            <a data-val='<%= product.productId %>' class="button button-cancel removeProduct__Btn">Remove
                                Product</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <% } else {%>
                <div class="box__section text-center">
                    <h1>There is no product!</h1>
                    <div>New product is simply added through <b>Add Product</b> menu by a user authenticated!</div>
                </div>
            <% } %>
        </div>
    </main>
</body>

</html>