<%- include('../partials/head.ejs') %>
    </head>

    <body>
        <%- include('../partials/navigation.ejs') %>
            <main>
                <div class="container">
                    <% if (product !==null) { %>
                        <div class="row centered">
                            <div class="col col-md col-sm centered">
                                <div class="box" id="<%= product.productId %>">
                                    <img src="<%= product.productImageUrl %>" width="100%" style="border-top-left-radius: 15px;border-top-right-radius: 15px;">
                                    <div class="box-content">
                                        <div class="prod__label productTitle">
                                            <%= product.productTitle %>
                                        </div>
                                        <div class="prod__label productPrice">$<%= product.productPrice %>
                                        </div>
                                        <div class="prod__label">
                                            <%= product.productAuthor %>
                                        </div>
                                        <div class="prod__label">
                                            <%= product.productDescription %>
                                        </div>
                                    </div>
                                    <div class="actions__section">
                                        <button data-val="<%= product.productId %>"
                                            class="button button-success addToCart__Btn" type="button">Add To
                                            Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } else {%>
                            <h1>There is no PRODUCTS!</h1>
                            <% } %>
                </div>
            </main>
    </body>

    </html>